{% extends 'store/main.html '%}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

{% block content %}
<div class="row">
    {% for prod in product %}
    <div class="col-lg-4 rounded">
        <img class="thumbnail rounded-circle" src="{{prod.imageURL}}" alt="">
        <div class="box-element product">
            <h6><strong>{{prod.name}}</strong></h6>
            <hr>
            <button data-product="{{product.id}}" data-action="add" class="btn btn-success rounded-pill btn-sm add-btn update-cart">Add to Cart</button>
            <a class="btn btn-outline-success btn-sm rounded-pill" href="#">View</a>
            <h4 style="display: inline-block; float: right">&#8358 {{prod.price|floatformat:0}}</h4>
        </div>
    </div>
    {% endfor %}

</div>

<div class="pagination text-bg-success bg-info px-3 align-content-lg-center">
    <span class="step-links align-content-center">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{page_obj.number }} of {{ page_obj.paginator.num_pages  }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<script type="text/javascript" src="{% static 'js/cart.js '%}"></script>

{% endblock content %}